body{
    background-color: black;
}
section#leftsec{
    background-color: rgb(48, 48, 48);
    width: 15%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10%;
    position: fixed;
    
}
input.opcoes_menu{
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: normal 20px 'Trebuchet MS';
    border-radius: 10px;
    text-align: left;
    max-width: 100%;

}
div#bola1{
    background-color: red;
    border-radius: 50%;
    width: 7%;
    height: 9%;
    position: absolute;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
div#bola2{
    background-color: yellow;
    border-radius: 50%;
    width: 7%;
    height: 9%;
    position: absolute;
    margin-left: 11%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));

}
div#bola3{
    background-color: green;
    border-radius: 50%;
    width: 7%;
    height: 9%;
    position: absolute;
    margin-left: 22%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
 
}

