body{
    background-color: black;
}
section#leftsec{
    background-color: rgb(48, 48, 48);
    width: 15%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10%;
    position: fixed;
}
input.opcoes_menu{
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: normal 20px 'Trebuchet MS';
    border-radius: 10px;

}
#wintab{
    position: absolute;
    height: 15%;
    width: 100%;
    margin: -10px;
}