body{
    background-color: black;
}
section#leftsec{
    background-color: rgb(48, 48, 48);
    width: 15%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10%;
    position: absolute;

    
}
input.opcoes_menu{
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: normal 20px 'Trebuchet MS';
    border-radius: 10px;
    text-align: left;
    max-width: 100%;

}
div#bola1{
    background-color: red;
    border-radius: 50%;
    width: 7%;
    height: 9%;
    position: absolute;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
div#bola2{
    background-color: yellow;
    border-radius: 50%;
    width: 7%;
    height: 9%;
    position: absolute;
    margin-left: 11%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));

}
div#bola3{
    background-color: green;
    border-radius: 50%;
    width: 7%;
    height: 9%;
    position: absolute;
    margin-left: 22%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
 
}
h1.mainhead{
    color: white;
    font-family: Trebuchet MS;
    font: normal 30px 'Trebuchet MS';
    text-align: center;
    margin-top: 1%;
}
#mainsec{
    width: 80%;
    height: 80%;
    position: absolute;
    margin-left: 15%;
    margin-top: 3%;
    background-image: linear-gradient(to bottom right, rgba(56, 0, 78, 0.521), rgba(8, 0, 78, 0.521));
    border-radius: 30px;
    padding: 10px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
img#fotoprincipal{
    height: 250px;
    margin-left: 73%;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    position: absolute;;    
}
p{
    color: white;
    background-color: rgba(1, 8, 110, 0.363);
    padding: 10px;
    border-radius: 15px;
    font-family: Trebuchet MS;
    font: normal 18px 'Trebuchet MS';
    text-align: justify;
    margin-top: 3%;
    margin-left: 2%;
    max-width: 68%;
}
p#par2{
    margin-top: -1%;
}
div#bar{
    background-color: rgb(48, 48, 48);
    margin: -10px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}
div#content{
    margin-top: 2%;
}